# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env
.env.test


# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
env.bak/
venv.bak/
*.env

# React
/build
/.pnp
.pnp.js

# Misc
.DS_Store
*.log
